START_DATE=$(date +%Y-%m-%d)
END_DATE=$END_DATE
DIRECTORY_IN="pics/"
DIRECTORY_OUT=out/\$\(date -d \${my_date} '+%Y/%m/%d/'\)
FILENAME_IN_PATTERN="*.jpg"
FILENAME_OUT_PATTERN="_taro_oscm_asi16.mp4"
INSTITUTION_PROJECT_1="Institution/Project, e.g. TROPOS ACTRIS Radiation Observatory"
INSTITUTION_PROJECT_2="Institution/Project, e.g. \(TARO\)"
LOCATION_1="Location1, e.g. OSCM, Mindelo"
LOCATION_2="Location2, e.g. Capo Verde"

